.body{
    background-color: black;
}
.dgsgeridon{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-style: italic;
    position: absolute;
    top: 80px;
    left: 1150px;
    font-size: 24px;
}
.mart9{
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 23px;
    right: 750px;
    top: 50px;
}
.bugrazengin{
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 23px;
    right: 738px;
    top: 20px;
}

.cahitbaslik{
    color: white;
    font-size: 22px;
    margin-top: 150px;
    margin-left: 150px;
    line-height: 30px;
}
.bugo1div{
    width: 90%;
}

.cahityazi{
    color: white;   
    font-size: 22px;
    line-height: 30px;
    position: absolute;
    top: 340px;
    left: 200px;
}
@media only screen and (max-width: 500px){
    .cahitbaslik{
        color: white;
        font-size: 22px;
        margin-top: 10px;
    }
    .cahityazi{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: -120px;
        margin-left: -170px;
        
    }
    .cahitbaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 200px;
    }
    .cahityazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: -10px;
        margin-left: 20px;
}
}