.body{
    background-color: black;
}
.dgsgeridon{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-style: italic;
    position: absolute;
    top: 60px;
    left: 1300px;
    font-size: 24px;
    border: 3px solid;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.dgsgeridon:hover{
    color: black;
    background-color: white;
}
.mart9{
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 23px;
    right: 750px;
    top: 50px;
}
.bugrazengin{
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 23px;
    right: 668px;
    top: 50px;
}

.cahitbaslik{
    color: white;
    font-size: 22px;
    margin-top: 150px;
    margin-left: 150px;
    line-height: 30px;
}
.bugo1div{
    width: 90%;
}

.cahityazi{
    color: white;   
    font-size: 22px;
    line-height: 30px;
    position: absolute;
    top: 340px;
    left: 130px;
}
.ravenchibaslik1{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 200px;
}
.ravenchiyazi1{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: -10px;
    margin-left: 120px;
}
.castielbaslik2{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 100px;
}
.castielyazi2{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 120px;
}
.burakbaslik1{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 100px;
}
.burakyazi1{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 120px;
}
.sladebaslik1{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 100px;
}
.sladeyazi1{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 120px;
}
.rakinbaslik1{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 100px;
}
.rakinyazi1{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 120px;
}
.furkanbaslik1{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 100px;
}
.furkanyazi1{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 120px;
}
.holdredbaslik1{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 100px;
}
.holdredyazi1{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 120px;
}
.silverhoodbaslik1{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 100px;
}
.silverhoodyazi1{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 120px;
}
.miabaslik1{
    color: white;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 100px;
}
.miayazi1{
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 120px;
}
.ozelbuton{
    width: 150px;
    height: 50px;
    color: white;
    background-color: black;
    border: 2px solid;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    right: 100px;
    transition: 0.5s;
}
.ozelbuton:hover{
    color: black;
    background-color: white;
}
.ozelbuton:active{
    transform: scale(0.5);
}
.sifrediv{
    border: 3px solid white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    position: relative;
    left: 500px;
}
.sifre{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 150px;
}
.ipucu{
    color: white;
    font-size: 17px;
    font-style: italic;
    position: absolute;
    top: 60px;
    left: 220px;
}
.accept{
    color: black;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 210px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
}
@media only screen and (max-width: 418px){
    .cahitbaslik{
        color: white;
        font-size: 22px;
        margin-top: 10px;
    }
    .cahityazi{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: -120px;
        margin-left: -100px;
        
    }
    .ravenchibaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 200px;
    }
    .ravenchiyazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: -10px;
        margin-left: 20px;
}
    .castielbaslik2{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .castielyazi2{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .burakbaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .burakyazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .sladebaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .sladeyazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .rakinbaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .rakinyazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .furkanbaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .furkanyazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .holdredbaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .holdredyazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .silverhoodbaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .silverhoodyazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .miabaslik1{
        color: white;
        font-size: 22px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .miayazi1{
        color: white;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .ozelbuton{
        position: absolute;
        right: 20.5%;
        top: 65px;
        height: 40px;
        width: 100px;
    }
    .dgsgeridon{
        color: white;
        position: absolute;
        top: 60px;
        left: 290px;
        height: 20px;
        text-align: center;
        padding: 5px;
        width: 80px;
        font-size: 17px;
        border: 2px solid;
        border-radius: 10px;
    }
    .ozelbuton:active{
        transform: scale(0.5);
    }
    .sifrediv{
        position: relative;
        left: 50px;
        width: 300px;

    }
    .sifre{
        width: 200px;
        position: absolute;
        left: 50px;
    }
    .accept{
        left: 50px;
        height: 30px;
    }
    .ipucu{
        left: 120px;
    }
}